<mat-drawer-container style="background-color: white; ">
  <mat-drawer class="col-md-3 fixed-drawer" mode="side" opened >
    <form [formGroup]="form">
      <mat-form-field class="col-md-12" style="margin-top: 10px">
        <input formControlName="inputNome" (ngModelChange)="filtrar()" matInput placeholder="Nome" type="text">
      </mat-form-field>


      <mat-form-field class="col-md-12">
        <mat-select formControlName="inputGrupoTalento" placeholder="Grupo de Talento" (selectionChange)="filtrar()">
          <div *ngFor="let grupo of gruposTalento">
            <mat-option [value]="grupo.id">{{grupo.nome}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <mat-select formControlName="inputOrigem" placeholder="Origem do Talento" (selectionChange)="filtrar()" >
          <div *ngFor="let origem of origens">
            <mat-option [value]="origem.id">{{origem.nome}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <div class="col-md-12">
        <button (click)="irCadastrarTalento()" class="col-md-6" mat-button type="button">Adicionar</button>
        <button (click)="limparFormulario()" class="col-md-6" mat-button type="button">Limpar</button>
      </div>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <div *ngFor="let talento of talentosFiltrados" style="margin: 10px">
      <app-talento-viewer [talento]="talento"></app-talento-viewer>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
