<mat-card>
  <div style="margin: 10px">
    <div class="row">
      <h3>{{talento.nome}}</h3>
      <button (click)="irEditarTalento()" mat-flat-button class="button-edit"
              type="button">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div *ngIf="hasDescricao()" [innerHTML]="returnDescricao()"></div>
    <div *ngIf="hasPreRequisito()" [innerHTML]="returnPreRequisito()"></div>
    <div [innerHTML]="returnBeneficio()"></div>
    <div *ngIf="hasEspecial()" [innerHTML]="returnEspecial()"></div>
  </div>
</mat-card>
